@using HoLWeb.BusinessLayer.Models

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="@($"worlds/info?id={World.Id}")">Detail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/worlds/create">Nový svět</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@($"narrative?id={World.Id}")">Příběhy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Monstra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Rasy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Postavy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/worlds/info">?????</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=@($"/worlds/info/{World.Id}")>?????+id</a>
    </li>
</ul>


@code {
    [Parameter] public WorldDto World { get; set; } = new WorldDto();
}